@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
  padding-top: 146px;
}

.btn-primary {
  background-color: #01467f !important;
  border-color: #013567 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #012345 !important;
  border-color: #012345 !important;
}

.blurred-background {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  height: 100%;
}

.nav-link {
  color: #01467f;
  font-weight: 600;
  font-size: larger;
  transition: color 0.3s;
}

.custom-navbar {
  font-family: 'Montserrat', sans-serif;
  color: #01467f;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 1030;
  background-color: white;
  box-shadow: 0 4px 6px 0 #00000080;
  position: fixed;
}

.custom-navbar h1 {
  font-size: 3.7rem;
  font-weight: 500;
  color: #01467f;
  margin: 0;
  padding: 0;
}

.custom-navbar .navbar-nav .nav-link {
  padding-right: 30px;
  /* Adjust the padding as needed */
}

.custom-navbar .dropdown-item:hover,
.custom-navbar .dropdown-item:focus {
  background-color: #01467f;
  color: white;
}

.custom-navbar .dropdown-item.active,
.custom-navbar .dropdown-item:active {
  background-color: transparent;
  /* or the default dropdown background color */
  border-color: #01467f;
  border-width: 2px;
  /* Optional: Set the border width if needed */
  border-style: solid;
  border-radius: 8px;
  color: inherit;
  /* Use inherit or set a specific color */
}

.custom-logo {
  padding-left: 50px;
  /* Adjust as needed */
}

.body-padding {
  padding-top: 64px;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  width: 100%;
}

.news-card-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.news-post-title {
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
}

.member-page-container {
  padding: 50px;
}

.news-card-signature {
  font-size: 0.8rem;
  font-weight: 600;
}

.news-card-sig-position {
  font-size: 0.8rem;
  font-weight: 400;
}

.news-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.news-screen-container {
  border-radius: 10px;
  margin-top: 100px;
  background-color: rgba(192, 214, 255, 0.8);
}

.news-screen-date {
  font-size: 0.8rem;
  font-weight: 400;
}

.news-screen-content {
  padding: 15px;
}

.event-title-shade {
  background-color: rgba(125, 125, 125, 0.8);
  padding-left: 10px;
}

.event-container {
  border-radius: 10px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.form-background {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.event-detail-container {
  padding: 5rem;
}

@media (min-width: 768px) {
  .nowrap-on-desktop {
    white-space: nowrap;
  }
}

@media (max-width: 767.98px) {
  .custom-navbar .navbar-brand {
    padding-left: 20px;
    /* Removes padding on smaller screens */
  }
}

@media (max-width: 767.98px) {
  .custom-navbar .navbar-toggler {
    margin-right: 20px;
    /* Adds padding on smaller screens */
  }
}

#tag-links {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.member-create {
  border: 1px dashed #000000;
  border-radius: 10px;
  padding: 10px;
}

.caption {
  background: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  color: #fff;
  width: calc(100% - 32px);
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}


/* ckeditor stuff */


@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: 'Lato';
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ck-content {
  font-family: 'Lato';
  line-height: 1.6;
  word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

.post-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-container img {
  margin-right: 10px;
  /* Add some space between the image and the title */
}
